/* sets the root level colors and fonts */
:root {
  --clr-primary-dark: black;
  --clr-primary-light: white;

  --clr-accent: rgb(255, 85, 0);

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}
/* this applies border-box to everything  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
  font-size: 1.25 rem;
  line-height: 1.6;
  font-family: var(--ff-primary);
  text-align: center;
}

/* sets margins for the project */
body,
h1,
h2,
h3,
p {
  margin: 0;
}
/* settings for header text */
h1,
h2,
h3 {
  color: var(--clr-accent);
  font-style: var(--ff-primary);
  font-weight: 900;
  line-height: 1;
}
/* a default for some padding on the bottom */
h2,
h3,
p {
  margin-bottom: 1em;
}
/* image settings */
img {
  display: block;
  max-width: 100%;
}
/* utility class for centering text */
.text-center {
  text-align: center;
}

header,
section {
  /* is this a padding range?? */
  padding: 4rem 0;
  @media (min-width: 40em) {
    header,
    section {
      padding: 7rem 0;
    }
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

/* setting media query results for screen size */
@meida (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  max-width: 34rem;
}

.container--narrow {
  max-width: 34rem;
}

/* my css */
.main-box {
  width: min(600px,800px);
  margin: 10px;
  padding: 10px;
  border: 10px ;
  outline: 1px solid --clr-primary-light;
}

src {
  outline: 10px solid --clr-accent;
}
