:root {
  --clr-primary-dark: black;
  --clr-primary-light: white;

  --clr-accent: rgb(255, 85, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
  font-size: 1.25 rem;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: var(--clr-accent);
font-style: italic;
}

.main-box {
  width: min(600px,800px);
  margin: 10px;
  padding: 10px;
  border: 10px ;
  outline: 1px solid --clr-primary-light;
}

src {
  outline: 10px solid --clr-accent;
}
